<div class="container">
    <h2>Top Teams Utilities</h2>
    <p>
        <button routerLink="/top_teams_matches_won">Top Teams By Matches Won</button>
    </p>
    <p>
        <button routerLink="/top_teams_home_matches_won">Top Teams By Home Matches Won</button>
    </p>
    <p>
        <button routerLink="/top_teams_yellow_cards">Top Teams By Yellow Cards</button>
    </p>
    <p>
        <button routerLink="/top_teams_fouls">Top Teams By Fouls</button>
    </p>
    <p>
        <button routerLink="/top_teams_shots">Top Teams By Shots</button>
    </p>
    <p>
        <button routerLink="/top_teams_season">Top Teams By Season</button>
    </p>
</div>
