<div class="container">
    <h2>Top Teams Utilities</h2>
    <div class="parent">
        <button class="button-9" routerLink="/top_teams_matches_won">Top Teams By Matches Won</button>
   
        <button class="button-9" routerLink="/top_teams_home_matches_won">Top Teams By Home Matches Won</button>
   
        <button class="button-9" routerLink="/top_teams_yellow_cards">Top Teams By Yellow Cards</button>
    </div>
    <div class="parent">

        <button class="button-9" routerLink="/top_teams_fouls">Top Teams By Fouls</button>
    
        <button class="button-9" routerLink="/top_teams_shots">Top Teams By Shots</button>
 
        <button class="button-9" routerLink="/top_teams_season">Top Teams By Season</button>
    </div>
    <button class="button-5" routerLink="/">Go Back</button>

</div>
