<div class="container">

    <h2 class="header">Welcome to the premier league app</h2>
    <div class="parent">
        <button class="button-9" role="button" routerLink="/insert_fan">Register a user</button>
        <button class="button-9" role="button" routerLink="/nationality">Show players by nationality</button>
        <button class="button-9" role="button" routerLink="/clubs">Show team info</button>
    </div>
    <div class="parent">
        <button class="button-9" role="button" routerLink="/players">Show player info</button>
        <button class="button-9" role="button" routerLink="/stadiums">Stadium home team</button>
        <button class="button-9" role="button" routerLink="/player_with_position">Show player of given position</button>
    </div>
    <div class="parent">
        <button class="button-9" role="button" routerLink="/matches">All Matches</button>
        <button class="button-9" role="button" routerLink="/top_teams">Top Teams</button>
    </div>
</div>