<div class="container">
    <h3>{{home_team}} VS {{away_team}} | {{match_date}}</h3>
    <ul>
        <li *ngFor="let match_review of matches_reviews; let i = index">
            <div>
                <p><strong>Username:</strong> {{match_review[0]}}</p>    
            </div>

            <div>
                <p><strong>Rating:</strong> {{match_review[1]}}</p>
            </div>

            <div>
                <p><strong>Review:</strong> {{match_review[2]}}</p>
            </div>


        </li>
    </ul>

    <button class="button-9" routerLink="/matches">Go Back</button>

</div>








