  
<div class="container">
<h2 class="form-heading" class="header">Insert Fan</h2>
<button class="button-9" routerLink="/">Go Back</button>
    
<!-- form -->
    <form *ngIf="!isSubmitted" class = "form-body" [formGroup]="form" id="form-body-id">
  
      <!-- Username -->
      <p class = "label-above-text-box">Username</p>
      <div >
          <input class="my-input" placeholder="Your nickname" formControlName="username" maxlength="30" style="color:#32ac64; font-weight: bold; background-color: transparent !important;">
      </div>


      <!-- email -->
      <p class = "label-above-text-box">email</p>
      <div >
          <input formControlName="email" placeholder="Your email" maxlength="30" style="color:#32ac64; font-weight: bold; background-color: transparent !important;">
      </div>
  
      <!-- gender -->
      <!--
      <p class = "label-above-text-box">gender</p>
      <div >
          <input formControlName="gender" maxlength="30" style="color:#32ac64; font-weight: bold; background-color: transparent !important;">
      </div>
    -->
    <p class = "label-above-text-box">gender</p>
      <div>
        <select class='select-option'
            #mySelect
            (change)='onOptionsSelected(mySelect.value)'>
            <option>Choose a gender</option>
        <option class='option' 
        [value]="0">Male</option>
        <option class='option' 
        [value]="1">Female</option>
        </select>
      </div>

      <!-- birthdate -->
      <p class = "label-above-text-box">birthdate</p>
      <div >
          <input placeholder="YYYY-mm-dd" formControlName="birthdate" maxlength="30" style="color:#32ac64; font-weight: bold; background-color: transparent !important;">
      </div>


    <!-- favorite_team -->
    <p class = "label-above-text-box">favorite_team</p>
    <div >
        <input formControlName="favorite_team" placeholder="Your favorite team" maxlength="30" style="color:#32ac64; font-weight: bold; background-color: transparent !important;">
    </div>

    </form>
  
  
    <button class="send-button" (click)="onSubmit()">
      <div *ngIf="isSubmitted; else elseBlock">SUBMITTED!</div>
      <ng-template #elseBlock>SUBMIT</ng-template>
    </button>
  
  <div class="submission_recorded">
    <p *ngIf="isSubmitted" class="btn btn-primary">Thank you.</p>
  </div>
</div>


  
  